@model Contrib.CookieCuttr.Models.CookiecuttrSettingsPartRecord

    <legend style="margin-bottom:10px;">@T("CookieCuttr Settings")</legend>
    <p>Visit the official <a href="http://cookiecuttr.com/#options">cookiecuttr plugin page</a> to learn more about the configurable options</p>
<fieldset class="analytics">
    <div>
        @Html.EditorFor(m => m.cookieAnalytics)
        <label class="forcheckbox" for="CookiecuttrSettings_cookieAnalytics">@T("Cookie Analytics Mode")</label>
        @Html.ValidationMessage("cookieAnalytics", "*")
        <span class="hint">@T("if you are just using a simple analytics package you can set this to true, it displays a simple default message with no privacy policy link.")</span>
    </div>
    <div data-controllerid="CookiecuttrSettings_cookieAnalytics" data-defaultstate="visible">
        <legend style="margin-top:20px;margin-bottom:10px;">Messages</legend>
        <div>
            <label for="CookiecuttrSettings_cookieAnalyticsMessage">@T("Analytics Message (this is the default message)")</label>
            @Html.TextAreaFor(m => m.cookieAnalyticsMessage, new { @class = "text medium" })
        </div>
        <legend style="margin-top:20px;margin-bottom:10px;">Links</legend>
        <div>
            <label for="CookiecuttrSettings_cookieAnalyticsMessage">@T("Change 'What are Cookies' link text")</label>
            @Html.TextBoxFor(m => m.cookieWhatAreLinkText, new { @class = "text medium" })
        </div>
        <div>
            <label for="CookiecuttrSettings_cookieWhatAreTheyLink">@T("'What are Cookies' link")</label>
            @Html.TextBoxFor(m => m.cookieWhatAreTheyLink, new { @class = "text medium" })
        </div>
    </div>
    <div data-controllerid="CookiecuttrSettings_cookieAnalytics" data-defaultstate="hidden">
        <legend style="margin-top:30px;margin-bottom:10px;">Messages</legend>
        <div>
            <label for="CookiecuttrSettings_cookieMessage">@T("'Cookie Privacy link' Message")</label>
            @Html.TextAreaFor(m => m.cookieMessage, new { @class = "text medium" })
            <span class="hint">@T("remember to keep the {{cookiePolicyLink}} variable in tact.")</span>
        </div>
        <legend style="margin-top:20px;margin-bottom:10px;">Links</legend>
        <div>
            <label for="CookiecuttrSettings_cookiePolicyLink">@T("Your privacy policy / Cookie policy link")</label>
            @Html.TextBoxFor(m => m.cookiePolicyLink, new { @class = "text medium" })
        </div>

    </div>
</fieldset>

<fieldset class="buttons">
    <legend style="margin-top:30px;margin-bottom:10px;">Show these Buttons</legend>
    <div>
        @Html.EditorFor(m => m.showCookieAcceptButton)
        <label class="forcheckbox" for="CookiecuttrSettings_showCookieAcceptButton">@T("Cookie Accept Button")</label>
        <span class="hint">@T("it will show a green button for the user to accept cookies.")</span>
    </div>
    <div>
        <label for="CookiecuttrSettings_cookieAcceptButtonText">@T("Change 'Accept Cookies' button text")</label>
        @Html.TextBoxFor(m => m.cookieAcceptButtonText, new { @class = "text medium" })
    </div>
    <div>
        @Html.EditorFor(m => m.showCookieDeclineButton)
        <label class="forcheckbox" for="CookiecuttrSettings_showCookieDeclineButton">@T("Cookie Decline Button")</label>
        <span class="hint">@T("it will show a red button for the user to decline cookies.")</span>
    </div>
    <div>
        <label for="CookiecuttrSettings_cookieDeclineButtonText">@T("Change 'Decline Cookies' button text")</label>
        @Html.TextBoxFor(m => m.cookieDeclineButtonText, new { @class = "text medium" })
    </div>
    <div>
        @Html.EditorFor(m => m.showCookieResetButton)
        <label class="forcheckbox" for="CookiecuttrSettings_showCookieResetButton">@T("Cookie Reset Button")</label>
        <span class="hint">@T("If the user accepts the cookies, it will display a reset cookies line.")</span>
    </div>
    <div>
        <label for="CookiecuttrSettings_cookieResetButtonText">@T("Change 'Reset Cookies' button text")</label>
        @Html.TextBoxFor(m => m.cookieResetButtonText, new { @class = "text medium" })
    </div>
    <div>
        @Html.EditorFor(m => m.cookieDiscreetReset)
        <label class="forcheckbox" for="CookiecuttrSettings_cookieDiscreetReset">@T("Make the reset button discreet?")</label>
        <span class="hint">@T("it will show a small reset link istead of a full liner.")</span>
    </div>
</fieldset>

<filedset class="position">
    <legend style="margin-top:30px;margin-bottom:10px;">Cookie Bar / Discreet Link Positioning</legend>
    <div>
        <label for="CookiecuttrSettings_cookieDiscreetPosition">@T("'Discreet' position (This positions Discreet Link and Discreet Reset)")</label>
        @Html.EditorFor(m => m.cookieDiscreetPosition)
        <span class="hint">@T("set to topleft by default, you can also set topright, bottomleft, bottomright.")</span>
    </div>
    <div>
        @Html.EditorFor(m => m.cookieNotificationLocationBottom)
        <label class="forcheckbox" for="CookiecuttrSettings_cookieNotificationLocationBottom">@T("Display the notification at the bottom of the page?")</label>
        <span class="hint">@T("it will also force the discreet position setting to bottom (left or right).")</span>
    </div>
</filedset>

@using (Script.Foot())
{
    <script type="text/javascript">
        // hack to make the base.js script work with controller ids
        (function ($) {
            $(document).ready(function () {
                $(".analytics").find("input[name='CookiecuttrSettings.cookieAnalytics']").click().click();
            });
        })(jQuery);
    </script>
}
